*{
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-sizing: border-box;
}

.cardContainer{
    width: 340px;
    height: auto;
    gap: 10px;
    padding-top: 30px;
    position: relative;
}

.cardImg{
    object-fit: cover;
    border-radius: 10px;
    width: 340px;
    height: 380px;
}

.cardTitle{
    position: absolute;
    top: 78%;
    left: 5.88%;
    right: 5.88%;
    bottom: 5.88%;
    font-weight: 500;
    line-height: 142.6%;
    font-size: 18px;
    font-style: normal;
    color: white;
}

@media screen and (max-width : 760px){

    .cardImg{
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 400px;
    }

    .cardContainer{
        width: 100%;
        padding-top: 0;
    }

    .cardContainer h3{
        width: 250px;
    }

}

@media screen and (min-width: 768px) and (max-width: 990px){

    .cardImg{
        width: 316px;
    }


}