*{
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.footerContainer{

    width: 100%;
    padding: 1rem;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
}

.posrelative{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footerLogo{
    width: 122px;
    height: 39px;
    color: white;
}

.footerText{
    color: white;
    font-size: 12px;
}


@media screen and (max-width : 768px){

.footerLogo{
    margin-top: 14px;
}

.footerText i{
    display: inline;
}

.footerText{
    text-align: center;
}

}
@media screen and (max-width : 1440px){

.footerLogo{

}

}