.starboxScore {
    display: flex;
    gap: 2px;

    font-size: 20px;
}

.starsRed{
color: #FF6060;
}

.starsGrey{
    color: #E3E3E3;
}

@media screen and (max-width : 768px){

.starboxScore{
    font-size: 14px;
    margin-right: 35px;
}

}
